:root {
  --main-bg: rgb(10, 10, 12);

  --glow-1: radial-gradient(
                  circle,
                  rgba(22, 119, 255, 0.12) 0%,
                  transparent 110%
  );
  --glow-2: radial-gradient(
                  circle,
                  rgba(114, 46, 209, 0.12) 0%,
                  transparent 110%
  );
}